
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.local
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDX
.idx/
*.idx/*
*.idx
.idx/**/*
!.idx/extensions.json
!.idx/workspace.json
!.idx/dev.nix
!.idx/icon.png
!.idx/ಉ.icon.png

# Firebase Studio - IDX specific (if any, otherwise standard Next.js ignores are good)
# Example: If Studio stores temporary build artifacts in a specific folder
# .firebase-studio-cache/

# Firebase Emulators
firebase-debug.log
*.log
firestore.indexes.json
database-debug.log
pubsub-debug.log
storage-debug.log
*.snapshot
